VITE_APPWRITE_URL="https://sgp.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a085dff0038fd637a14"
VITE_APPWRITE_DATABASE_ID="6a085efb003e3548a4ec"
VITE_APPWRITE_COLLECTION_ID="6a0860110036aaa8dd4d"
VITE_APPWRITE_BUCKET_ID="6a0af53b0032abd54023"